# Node modules
node_modules/

# System files
.DS_Store
Thumbs.db
.localized
.Spotlight-V100
.Trashes

# Batches and output
batches/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode settings
.vscode/ 